@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Source+Sans+Pro&family=Vujahday+Script&display=swap");

.text-brand {
  font-family: "Vujahday Script";
}

.text-nowrap {
  word-wrap: normal;
}

.text-spacing {
  &-sm {
    letter-spacing: 0;
  }
}

.backdrop-blur {
  backdrop-filter: blur(5px);
}

.hover {
  &-red:hover {
    color: #fff;
    background: $red;
  }
  &-gray:hover {
    color: #fff;
    background: $gray-800;
  }
  &-text-gray:hover {
    color: $gray-900;
  }
  &-half-transparent {
    background: #6c757d77 ;
    &:hover {
    background: #6c757d ;
    }
  }
}

.link-dark:hover {
  color: $cyan-600;
}

.btn-fixed {
  position: fixed;
  bottom: 60px;
  right: 50px;


  @include media-breakpoint-up(sm) {
    bottom: 80px;
    right: 80px;
  }
}

table button {
  background: transparent;
}

.spinner {
  &-slow {
    animation: 17.5s linear infinite spinner-border;
  }
}

.buyer-input:focus {
  outline: 1px solid $cyan-600;
}

.scroll-down {
  margin-top: -32px;
  transition: all .3s ease-in-out;
}
.scroll-up {
  margin-top: 0;
  transition: all .3s ease-in-out;
}

.fixed-top-sm {
  @include media-breakpoint-down(md) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.devider {
  border-bottom: .5px solid $cyan-600;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}
