@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Source+Sans+Pro&family=Vujahday+Script&display=swap");

:root {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

.text-brand {
  font-family: "Vujahday Script";
}

.backdrop-blur {
  backdrop-filter: blur(5px);
}